PORT=3000
MONGODB_URI=

ADMIN_PASSWORD=change-me-only-if-you-dont-use-hash
ADMIN_PASSWORD_HASH=
COOKIE_SECURE=false
SESSION_SECRET=change-me-session-secret
FACE_DB_BACKUP_KEY=change-me-backup-key
FACE_UNLOCK_THRESHOLD=0.44
MAX_UPLOAD_MB=100

CLOUD_NAME_1=
CLOUD_API_KEY_1=
CLOUD_API_SECRET_1=

CLOUD_NAME_2=
CLOUD_API_KEY_2=
CLOUD_API_SECRET_2=

CLOUD_NAME_3=
CLOUD_API_KEY_3=
CLOUD_API_SECRET_3=

CLOUD_NAME_4=
CLOUD_API_KEY_4=
CLOUD_API_SECRET_4=

GEMINI_API_KEY=
